* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque';
    font-size: 1rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
}

img {
    display: block;
}
img::selection {
    background-color: transparent;
}

p {
    line-height: 1.5;
}

/* NAV */
nav {
    top: 0;
    position: sticky;
    width: 100%;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

/* NAV | NAV-LEFT */
nav .nav-left {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: #000000;
}

nav .nav-left .nav-l-img img {
    width: 3rem;
    border-radius: .3rem;
}

nav .nav-left .nav-l-text h4 {
    display: flex;
    align-items: center;
    gap: .2rem;
    font-size: 1rem;
    font-weight: normal;
}
nav .nav-left .nav-l-text h4::selection {
    background-color: transparent;
}
nav .nav-left .nav-l-text p {
    color: #666666;
}
nav .nav-left .nav-l-text p::selection {
    background-color: transparent;
}

/* NAV | NAV RIGHT */
nav .nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .nav-right a {
    padding: 15px .5rem;
    text-decoration: none;
    color: #666666;
    border-radius: .5rem;
}
nav .nav-right a:hover {
    color: #000000;
    background-color: #0075FF1A;
}
nav .nav-right a:hover > i {
    color: #0075FF;
}
nav .nav-right a::selection {
    background-color: transparent;
}
nav .nav-right a i {
    color: #000000;
}

/* SIDEBAR CHECKBOX */
#coSidebar {
    display: none;
}
#coSidebar:checked ~ .sidebar {
    display: block;
}
#coSidebar:checked  ~ .overSidebar {
    display: block;
}

/* SIDEBAR */
.sidebar {
    width: 65%;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    position: absolute;
    display: none;
    background-color: #FFFFFF;
}

.sidebar .sidebar-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* SIDEBAR TITLE */
.sidebar .sidebar-wrap .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SIDEBAR WRAP */
.sidebar .sidebar-wrap {
    padding: 1.2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar .sidebar-wrap .sidebar-title .closeSidebar i {
    cursor: pointer;
    padding: .5rem .6rem;
    font-size: 1.5rem;
    border: 1px solid #D1D2DB;
    border-radius: .5rem;
}

/* SIDEBAR LINKS */
.sidebar .sidebar-wrap .sidebar-links {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.sidebar .sidebar-wrap .sidebar-links a {
    padding: 1rem .5rem;
    display: inline-block;
    text-decoration: none;
    color: #666666;
    border-radius: .5rem;
}
.sidebar .sidebar-wrap .sidebar-links a:hover {
    color: #000000;
    background-color: #0075FF1A;
}
.sidebar .sidebar-wrap .sidebar-links a:hover > i {
    color: #0075FF;
}
.sidebar .sidebar-wrap .sidebar-links a > i {
    color: #000000;
}

/* SIDEBAR TOGGLE */
.openSidebar {
    cursor: pointer;
    padding: .5rem .6rem;
    display: none;
    border: 1px solid #D1D2DB;
    border-radius: .5rem;
}
.openSidebar i {
    font-size: 1.5rem;
}

/* SIDEBAR OVERLAY */
.overSidebar {
    width: 35%;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    position: absolute;
    background-color: #00000033;
    display: none;
}


/* MAIN */
main {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main h2 {
    cursor: default;
    font-size: 2rem;
    font-weight: normal;
}
main h2::selection {
    background-color: transparent;
}
main h2 > i {
    font-size: 2rem;
}


#about {
    scroll-margin-top: 110px;
}
/* MAIN | ABOUT */
main .about-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

main .about-wrap .about-skills {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 100px;
}

main .about-wrap .about-skills .skill {
    padding: .2rem;
    background-color: #E1E2EB;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 0 #00000033 inset;
}

main .about-wrap .about-skills i {
    padding: 4px 1rem;
    font-size: 1.5rem;
    background-color: #FFFFFF;
    border-radius: 3px;
}

/* HTML */
main .about-wrap .about-skills .fa-html5 {
    color: tomato;
}
/* CSS */
main .about-wrap .about-skills .fa-css3-alt {
    color: #0075FF;
}
/* JavaScript */
main .about-wrap .about-skills .fa-js {
    color: orange;
}
/* PHP */
main .about-wrap .about-skills .fa-php {
    color: purple;
}

#projects {
    scroll-margin-top: 110px;
}
/* MAIN | PROJECT */
main .projects-wrap {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background-color: #E1E2EB;
    box-shadow: 3px 3px 3px #D1D2D3D4 inset;
    border-radius: 1rem;
}

main .projects-wrap .project {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

main .projects-wrap .project img {
    width: 100%;
    border-radius: 1rem 1rem 5px 5px;
}

main .projects-wrap .project .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

main .projects-wrap .project-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

main .projects-wrap .project-details span {
    cursor: default;
    display: inline-block;
    padding: .3rem 1.5rem;
    color: #666666;
    background-color: #E1E2EB;
    border-radius: 100px;
}

main .projects-wrap .project .info a {
    padding: .5rem 1.5rem;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    background-color: #0075FF;
    border-radius: 100px;
}
main .projects-wrap .project .info a:hover {
    outline: 2px solid #0075FF;
}


/* COMMENTS */
.comments .comment-wrap {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #E1E2EB;
    box-shadow: 3px 3px 3px #D1D2D3D4 inset;
    border-radius: 1rem;
}

/* COMMENT | FORM */
.comments .comment-wrap form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .8rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

.comments .comment-wrap form .comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

/* COMMENT INPUT */
.comments .comment-wrap form .comment input {
    width: 50%;
    padding: .4rem .6rem;
    border: none;
    border-radius: .4rem;
    outline: 1.5px solid #D1D2DB;
}
.comments .comment-wrap form .comment input:hover {
    outline: 2px solid #0075FF;
}
.comments .comment-wrap form .comment input:hover::placeholder {
    color: #0075FF;
}
.comments .comment-wrap form .comment input:focus {
    outline: 2px solid #0075FF;
}
.comments .comment-wrap form .comment input:focus::placeholder {
    color: #0075FF;
}

/* COMMENT TEXTAREA */
.comments .comment-wrap form .comment textarea {
    resize: none;
    width: 100%;
    height: 10rem;
    padding: .4rem .6rem;
    border: none;
    border-radius: .4rem;
    outline: 1.5px solid #D1D2DB;
}
.comments .comment-wrap form .comment textarea:hover {
    outline: 2px solid #0075FF;
}
.comments .comment-wrap form .comment textarea:hover::placeholder {
    color: #0075FF;
}
.comments .comment-wrap form .comment textarea:focus {
    outline: 2px solid #0075FF;
}
.comments .comment-wrap form .comment textarea:focus::placeholder {
    color: #0075FF;
}

/* COMMENT BUTTON */
button {
    width: 100%;
    padding: .5rem;
    color: #FFFFFF;
    background-color: #0075FF;
    border: none;
    border-radius: 100px;
}
button:hover {
    outline: 2px solid #0075FF;
}

/* COMMENT | COMMENT */
.comments .comment-wrap .cw-comment {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

.comments .comment-wrap .cwc-wrap {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.comments .comment-wrap .cw-comment .comment {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.comments .comment-wrap .cw-comment .comment .nama {
    display: flex;
    align-items: center;
    gap: .1rem;
}
.comments .comment-wrap .cw-comment .comment .komentar {
    color: #666666;
}

/* COMMENT | TANGGAL */
.comments .comment-wrap .cw-comment .comment .tanggal {
    font-size: 10px;
    color: #AAAAAA;
}


#links {
    scroll-margin-top: 80px;
}
/* FOOTER */
footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #FFFFFF;
}

footer a {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
    color: #000000;
    text-decoration: none;
    border-bottom: 1.5px solid #000000;
}
footer a:hover {
    color: #0075FF;
    border-bottom: 1.5px solid #0075FF;
}
footer a:hover > svg {
    fill: #0075FF;
}

/* RESPONSIVE BREAKPOINTS */
@media (max-width: 576px) {
    /* NAV */
    nav {
        padding: 1rem 1.5rem;
    }

    /* NAV | NAV RIGHT */
    nav .nav-right {
        display: none;
    }
    
    /* SIDEBAR TOGGLE */
    .openSidebar {
        display: block;
    }


    /* MAIN */
    main {
        margin: 1.5rem;
    }

    /* MAIN | PROJECTS */
    main .projects-wrap {
        padding: .5rem;
        grid-template-columns: repeat(1, 1fr);
        gap: .5rem;
    }

    main .projects-wrap .project {
        padding: 1rem;
    }


    /* COMMENTS */
    .comments .comment-wrap {
        padding: .5rem;
        display: flex;
        gap: .5rem;
    }

    /* COMMENT INPUT */
    .comments .comment-wrap form .comment input {
        width: 70%;
        padding: .4rem .6rem;
        border: none;
        border-radius: .4rem;
        outline: 1.5px solid #D1D2DB;
    }


    /* FOOTER */
    footer {
        padding: 1.5rem;
    }

    footer a {
        padding: .3rem 0;
        font-size: 1.5rem;
    }

    footer a > svg {
        width: 25px;
        height: 25px;
    }
}